<div id="carouseWabeless" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouseWabeless" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouseWabeless" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouseWabeless" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/images/slide-img.png" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100">
        <h5 class="mx-auto w-50 w-md-100">Ruta por Australia</h5>
        <p class="mx-auto w-50 w-md-100">Si te va la aventura, no te lo puedes perder</p>
        <a routerLink="/mas-informacion" class="btn btn-carousel mt-4 mt-lg-5">Mas información</a>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/images/slide-img.png" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100">
        <h5 class="mx-auto w-50 w-md-100">Ruta por Australia</h5>
        <p class="mx-auto w-50 w-md-100">Si te va la aventura, no te lo puedes perder</p>
        <a routerLink="/mas-informacion" class="btn btn-carousel mt-4 mt-lg-5">Mas información</a>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/images/slide-img.png" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100">
        <h5 class="mx-auto w-50 w-md-100">Ruta por Australia</h5>
        <p class="mx-auto w-50 w-md-100">Si te va la aventura, no te lo puedes perder</p>
        <a routerLink="/mas-informacion" class="btn btn-carousel mt-4 mt-lg-5">Mas información</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouseWabeless" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouseWabeless" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
