$text-default: #342E34;
$button-primary-text-default: #FFFFFF;
$button-primary-background-default: #622F60;
$color-divisor-light: #E0D9E0;
$navbar-border-default: #FF8F50;
$tab-navbar-selection-indicator-background-active: #FF8F50;
$button-accent-background-default: #FF8F50;

$footer-background-default: #FBF6F4;
$footer-background-bottom-bar-default: #E0D9E0;
$footer-container-border: #E0D9E0;
$footer-bottom-bar-color-default: #622F60;
