$text-default: #342E34;
$text-default-white: #FFFFFF;
$text-title-color: #2F222F;
$text-subtitle-color: #6B7D8D;
$button-primary-text-default: #FFFFFF;
$button-primary-background-default: #622F60;
$button-accent-text-default: #4E250E;
$color-divisor-light: #E0D9E0;
$navbar-border-default: #FF8F50;
$tab-navbar-selection-indicator-background-active: #FF8F50;
$button-accent-background-default: #FF8F50;
$footer-background-default: #FBF6F4;
$footer-background-bottom-bar-default: #E0D9E0;
$footer-container-border: #E0D9E0;
$footer-bottom-bar-color-default: #622F60;
$indicator-slider-border-default: #FFFFFF;
$indicator-slider-background-default: #FFFFFFB8;
$indicator-slider-background-selected-default: #FF8F50;
$button-slider-navigation-background-default: #622F60;
