$text-default: #342E34;
$button-primary-text-default: #FFFFFF;
$button-primary-background-default: #622F60;
$color-divisor-light: #E0D9E0;
$navbar-border-default: #FF8F50;
$tab-navbar-selection-indicator-background-active: #FF8F50;
$button-accent-background-default: #FF8F50;
