<div class="cards-container">  
    <div class="cards">
        <h3>Asia</h3>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/bangkok.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/marruecos.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer border-0 d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/marruecos-2.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer border-0 d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="cards">
        <h3>Asia</h3>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/bangkok.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/marruecos.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer border-0 d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <article class="card border-0">
                    <div class="card__media">
                        <img src="assets/images/marruecos-2.png" class="card__image img-fluid w-100" alt="Descubre Bangkok">
                        <a href="" class="card__badge badge position-absolute top-0 end-0 m-3">Quads</a>
                    </div>

                    <div class="card-body">
                        <div class="card-body__info d-flex">
                            <h4>Marruecos, África</h4> 
                            <p class="mb-0">9 días</p>
                        </div>
                        <h5 class="card-body__title">Descubre Bangkok con Iberojet</h5>
                    </div>

                    <div class="card__footer border-0 d-flex justify-content-between align-items-center p-3">
                        <div class="card__price">
                            <p class="card__price-label mb-0">Desde</p>
                            <h5 class="card__price-value mb-0">248,00 €</h5>
                            <a href="#" class="card__link">Ver desglose</a>
                        </div>
                        <a href="#" class="card__reserve">Reservar</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div> 